body{
    font-family: 'Armata', sans-serif;
}

ul li a{
    color: #424242;
    font-weight: bold;
}

nav .brand-logo {
  color: #444;
}

nav ul li:hover{
    background-color: #2EFE9A;
}

nav ul li a:hover{
   color: ghostwhite;
}

p.light{
    line-height: 1.4;
}

p.left-align{
    line-height: 1.4;
    color: #424242;
}

.button-collapse {
  color: #26a69a;
}

p.test{
    text-indent: 1px; 
}

p.grey-text{
    line-height: 1.4;
}

.tituloc{
    text-indent: 10px;
}

.boton{
    position: absolute;
    left: 10px;
}

.tituloc{
    text-indent: 10px;
    text-align: center;
}

.tn{
    text-indent: 10px;
    text-align: center;
}

.header{
   text-indent: 10px;   
}
